.DS_Store
BASE.md
*.jl.cov
*.jl.*.cov
docs/build/
results/
!results/
results/*
!results/README.md
!results/single_country/
!results/single_country/.gitkeep
results/single_country/*
!results/single_country/.gitkeep
!results/single_country/analytics/
results/single_country/analytics/*
!results/single_country/analytics/*.csv
results/single_country/analytics/*claim*
!results/two_country/
!results/two_country/.gitkeep
results/two_country/*
!results/two_country/.gitkeep
!results/two_country/analytics/
results/two_country/analytics/*
!results/two_country/analytics/*.csv
results/two_country/analytics/*claim*
!results/cross_model/
results/cross_model/*
!results/cross_model/analytics/
results/cross_model/analytics/*
!results/cross_model/analytics/*.csv
results/cross_model/analytics/*claim*
outputs/
