.DS_Store
BASE.md
*.jl.cov
*.jl.*.cov
docs/build/
results/
!results/single_country/
!results/single_country/.gitkeep
results/single_country/*
!results/single_country/.gitkeep
!results/two_country/
!results/two_country/.gitkeep
results/two_country/*
!results/two_country/.gitkeep
outputs/
